body {
    font-family: 'Aladin';
    background-size: 100% 100%;
    background-position: 0px 0px;
    border-image-width: auto;
    background: #DDAD7A;
    margin: 0;
    padding: 0;
}
/*.motherbox{
    width: 100%;
    display: flex;
}*/

header{
    margin: 5px;
    padding-left: 3px;
}
.logo{
    background-size: 40px;
    border-radius: 8px;
    opacity: 0.5;
    width: 10px;
    height: 5px;
    padding: 3px;
    margin-top: 5px;
}
form {
    background-color: white;
    align-items: center;
    width: 450px;
    height: 300px;
    margin: 10px 10px 0 550px;
    border-radius: 25px;
    padding: 10px;
}
.intro{
    margin: 100px 0 0 18px;
}
.intro h1{
    color: #4E281E;
    font-size: 30px;
}
.intro p{
    font-size: 15px;
}
input{
    width: 60%;
    border-radius: 10px;
    align-items: center;
    height: 30px 60px;
    padding: 20px;
    margin-top: 20px;
}
.button{
    background: #40260A;
    color: white;
}


